h1{
  color: black;
  font-size: 60px;
  font-family: 'Roboto Mono', monospace;
  margin-left:20%;
}


main{
  margin-left: 10%;
  margin-right: 10%;
}


img {
  width: 20%;
  float: left;
  margin-right: 50px;
}

#catalog{
  margin-top: 30px;
  margin-left: 20%;
  padding-top: 10%;
}

#buttons{
  margin-left: 27%;
  margin-top: 20%;
}

button{
  margin-right: 150px;
}